<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/estilos.css" />
    <title>Biblioteca Online</title>
</head>
<body>
    <nav>
        <a href="/"> [Listar projetos] </a> 
        <a href="/adicionarProjetoForm">   [Adicionar Projeto] </a>
    </nav>

  