<!DOCTYPE html>
<html>
<head>
	<title>Buscar Livros</title>
	<link rel="stylesheet" type="text/css" href="css/busca_livro.css">
</head>
<body>
	<div class="container">
		<h1>Buscar Livros</h1>
		<div class="form">
			<input type="text" id="buscaTitulo" placeholder="Título">
			<input type="text" id="buscaAutor" placeholder="Autor">
			<button onclick="buscarLivros()">Buscar</button>
		</div>
		<div id="livros"></div>
	</div>

	<script src="search.js"></script>
</body>
</html>
