<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Cadastro de Livros</title>
	<link rel="stylesheet" type="text/css" href="css/cadastro_livro.css">
</head>
<body>
	<h1>Cadastro de Livros</h1>
	<form>
		<label for="registro">Número de Registro:</label>
		<input type="text" id="registro" name="registro" required>

		<label for="titulo">Título:</label>
		<input type="text" id="titulo" name="titulo" required>

		<label for="categoria">Categoria:</label>
		<select id="categoria" name="categoria" required>
			<option value="" disabled selected>Selecione uma categoria</option>
			<option value="Ficção">Ficção</option>
			<option value="Romance">Romance</option>
			<option value="Aventura">Aventura</option>
			<option value="Terror">Terror</option>
			<option value="Didático">Didático</option>
		</select>

		<label for="autor">Autor:</label>
		<input type="text" id="autor" name="autor" required>

		<label for="data">Data de Publicação:</label>
		<input type="date" id="data" name="data" required>

		<button type="submit">Cadastrar</button>
	</form>

	<script src="script.js"></script>
</body>
</html>